<h1>Pruebas con {{tipoAnimal}}</h1>
<img [src]="urlImagen" [class.borde]="fotoBonita" [class.small]="!fotoBonita" [style.borderRadius.px]="radioEsquinas">
<a href="#" (click)="cambiaAnimal($event)">No me gustan los gatos</a>
